@media screen and (max-width: 900px) {
  .imgdossier {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .window2 {
    display: block;
    width: 90vw;
  }
  .heightWindow2{
    height: 200vh;
  }
  .window {
    width: 90%;
    min-width: 300px; 
    position: static; 
    transform: none;
    opacity: 1;
  }

  .window__title-bar {
    cursor: default; 
  }
#section2{
  display: flex;
  flex-direction: column;
}

  #flexprojects, #about, #experience{
flex-direction: column;
  }
.flex3{
  flex-direction: column;
}
main{
  width: 100%;
}
  header{
    display: none;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 400vh;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
  }
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
