@media screen and (max-width: 1250px) {
  .imgdossier {
    display: none;
  }
  .window2 {
    display: block;
    width: 90vw;
    resize: unset;
  }
  .window2 .content{
    padding : 0;
  }
  .window .content{
    padding : 15px;
  }
  .heightWindow2 {
    height: 200vh;
  }
  .window {
    min-width: 300px;
    position: static;
    transform: none;
    opacity: 1;
    align-items: center;
    justify-content: center;
  }

  .window__title-bar {
    cursor: default;
  }
  #section2 {
    display: flex;
    flex-direction: column;
  }
  #about{
    padding-right: 0;
  }
  #flexprojects,
  #about,
  #experience,
  #skills {
    flex-direction: column;
  }
  .flex3 {
    flex-direction: column;
  }
  main {
    width: 100%;
  }
  header {
    display: none;
  }
  body {
    display: flex;
    align-items: center;
    padding-top: 15%;
    padding-left: 5%;
    background-size: 400vh;
    overflow-x: hidden;
    width: 100%;
    height: 70vh;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
